.testomonials_card_container {
  border: 1px solid #262626;
  width: 400px;
  margin: 24px;
  padding: 24px;
  border-radius: 8px;
  background: #fafafa;
  box-shadow: 1px 1px 1px #cccccc;
}

.testomonials {
  font-size: 32px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin: 12px;
}

.testomonials_user {
  font-size: 14px;
  font-weight: 500;
}

.testomonials_message {
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
}

